:root {
    --darkCyan: hsl(158, 36%, 37%);
    --mediumGreen: hsl(158, 36%, 32%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGreyishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    padding: 2rem;
    border-radius: 10px;
    height: 500px;
}

.mobileImage {
    display: inline-block;
    width: 300px;
    margin-left: -2rem;
    margin-top: -2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.desktopImage {
    display: none;
}

.cardTitle {
    margin: .7rem 0;
    letter-spacing: .2rem;
    font-weight: 500;
    font-size: 12px;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 28px;
    margin: .7rem 0;
    width: 110%;
    color: var(--veryDarkBlue)
}

button {
    position: relative;
    top: 10px;
    width: 100%;
    height: 35px;
    background-color: var(--darkCyan);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-weight: 700;
}

button:hover {
    background-color: var(--mediumGreen);
    transition: background-color .45s;
    cursor: pointer;
}

p {
    font-size: 11px;
    width: 110%;
    font-weight: 500;
    color: var(--darkGreyishBlue);
}

.prices {
    position: relative;
    margin: 30px 0 5px 0;
}

.discount {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: var(--darkCyan);
}

.originalPrice {
    position: relative;
    padding: 1rem;
    bottom: 5px;
    text-decoration: line-through black;
}

.cart {
    position: relative;
    bottom: 15px;
    margin-left: 55px;
    width: 16px;
    height: 16px;
}

@media only screen and (min-width: 1440px) {
    .mobileImage {
        display: none;
    }

    .desktopImage {
        display: inline-block;
        width: 300px;
        height: 465px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: white;
        left: 0;
        width: 300px;
        padding: 2rem;
        border-radius: 10px;
        height: 465px;
        transform: translate(0, 0);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .desktop-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 14px;
        width: 100%;
    }

    .perfume {
        position: relative;
        top: 20px;
    }

    .prices {
        margin: 50px 0 0 0;
    }

    .discount {
        font-size: 30px;
    }

    button {
        top: 20px;
        padding: 25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}